.idea
*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

!.idea/codeStyles
!.idea/runConfigurations

.gradle
**/build/
!src/**/build/

gradle-app.setting

!gradle-wrapper.jar
!gradle-wrapper.properties
